Repository ceph/bubbles, pull requests merged in 2021-09, with the labels that each got.

#10 Ignore PyCharm IDE settings.
  .gitignore
Labels: enhancement

#6 bubbles: deploy development environment through kcli
  backend/models/df.py
  backend/typings/mgr_module.pyi
  deploy/README.md
  deploy/container/Dockerfile
  deploy/plan/bootstrap-cluster.sh
  deploy/plan/cluster.yml
Labels: tooling

#15 UI: Fix login and 404 page
  frontend/src/app/pages/login-page/login-page.component.html
  frontend/src/app/pages/login-page/login-page.component.scss
  frontend/src/app/pages/not-found-page/not-found-page.component.scss
  frontend/src/assets/images/ceph-logo-grey-reverse.svg
Labels: enhancement, frontend

#12 bubbles: deploy: use pacific-based, python3.8 images
  deploy/README.md
  deploy/container/Dockerfile
  deploy/plan/bootstrap-cluster.sh
Labels: bug, documentation, tooling

#17 UI: Modify login and 404 page
  COPYING
  frontend/src/app/pages/login-page/login-page.component.scss
  frontend/src/app/pages/not-found-page/not-found-page.component.scss
  frontend/src/app/shared/components/dialog/dialog.component.html
  frontend/src/app/shared/components/dialog/dialog.component.ts
  frontend/src/assets/images/isabel-galvez-i54owgDjXeY-unsplash.jpg
  frontend/src/assets/images/jong-marshes-79mNMAvSORg-unsplash.jpg
  frontend/src/assets/images/mostafa-ashraf-mostafa-2n-NlDEAhtk-unsplash.jpg
  frontend/src/assets/images/qijin-xu-pSmXVhWr9kE-unsplash.jpg
  frontend/src/styles.scss
Labels: enhancement, frontend

#18 UI: Use Ceph brand colors in login page
  frontend/src/app/pages/login-page/login-page.component.scss
  frontend/src/styles.scss
Labels: enhancement, frontend

#19 UI: Rephrase signed in user menu
  frontend/src/app/core/top-bar/top-bar.component.html
Labels: frontend, cleanup

#20 UI: Rephrase sign out question.
  frontend/src/app/core/top-bar/top-bar.component.ts
Labels: frontend, cleanup

#16 bubbles: deploy: follow Ceph's master
  deploy/container/Dockerfile
  deploy/plan/bootstrap-cluster.sh
Labels: bug, tooling

#25 UI: Upgrade jest
  .gitignore
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.spec.ts
  frontend/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.spec.ts
  frontend/src/app/pages/dashboard-page/dashboard-page.component.spec.ts
  frontend/src/app/pages/login-page/login-page.component.spec.ts
  frontend/src/app/pages/users-page/users-page.component.spec.ts
  frontend/src/app/shared/components/datatable/datatable.component.spec.ts
  frontend/src/app/shared/services/notification.service.spec.ts
  frontend/src/app/shared/services/storage.service.spec.ts
  frontend/src/app/shared/services/svc.service.spec.ts
  frontend/src/app/testing.module.ts
Labels: enhancement, frontend

#26 UI: Simplify unit tests
  frontend/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.spec.ts
  frontend/src/app/pages/dashboard-page/dashboard-page.component.spec.ts
  frontend/src/app/shared/services/notification.service.spec.ts
Labels: enhancement, frontend

#28 Backend: Make Bubbles not so chatty
  module.py
Labels: cleanup, backend

#31 bubbles/deploy: include bubbles in container
  .gitignore
  deploy/README.md
  deploy/build-container.sh
  deploy/container/Dockerfile
  deploy/plan/bootstrap-cluster.sh
Labels: enhancement, tooling

#29 Backend: User + authentication management
  .editorconfig
  backend/api/__init__.py
  backend/api/auth.py
  backend/api/status.py
  backend/api/user.py
  backend/auth.py
  backend/config.py
  backend/controllers/ctrls.py
  backend/controllers/rest_api_proxy.py
  backend/models/auth.py
  backend/models/config.py
  backend/models/status.py
  backend/models/user.py
  backend/utils.py
  bubbles.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/navigation-bar/navigation-bar.component.ts
  frontend/src/app/pages/empty-page/empty-page.component.html
  frontend/src/app/pages/empty-page/empty-page.component.scss
  frontend/src/app/pages/empty-page/empty-page.component.spec.ts
  frontend/src/app/pages/empty-page/empty-page.component.ts
  frontend/src/app/pages/hosts-page/hosts-page.component.ts
  frontend/src/app/pages/pages.module.ts
  frontend/src/app/pages/users-page/users-page.component.spec.ts
  frontend/src/app/pages/users-page/users-page.component.ts
  frontend/src/app/shared/components/datatable/datatable.component.html
  frontend/src/app/shared/components/datatable/datatable.component.ts
  frontend/src/app/shared/services/api/auth.service.ts
  frontend/src/app/shared/services/api/status.service.ts
  frontend/src/app/shared/services/system-status.service.spec.ts
  frontend/src/app/shared/services/system-status.service.ts
  frontend/src/app/shared/shared.module.ts
  module.py
  requirements.txt
Labels: enhancement, backend

#35 UI: Improve the declarative form
  frontend/src/app/shared/components/declarative-form/declarative-form.component.html
  frontend/src/app/shared/models/declarative-form-config.type.ts
Labels: enhancement, frontend

#36 Backend/Frontend: Rename API endpoint
  backend/api/users.py
  frontend/src/app/pages/users-page/users-page.component.ts
  frontend/src/app/shared/services/api/user.service.spec.ts
  frontend/src/app/shared/services/api/users.service.ts
  module.py
Labels: frontend, cleanup, backend

#40 backend/frontend: Misc improvements
  backend/models/service.py
  frontend/src/app/pages/login-page/login-page.component.ts
  frontend/src/app/shared/services/dialog.service.ts
Labels: enhancement, frontend, backend

#42 frontend: Enhance services page
  frontend/src/app/functions.helper.spec.ts
  frontend/src/app/pages/services-page/services-page.component.ts
  frontend/src/app/shared/components/declarative-form/declarative-form.component.ts
  frontend/src/app/shared/directives/dimless-binary.directive.ts
  frontend/src/app/shared/models/declarative-form-config.type.ts
Labels: enhancement, frontend

#43 backend/frontend: Add more information to the services page
  backend/api/storage.py
  backend/controllers/storage.py
  backend/models/storage.py
  frontend/src/app/pages/services-page/services-page.component.ts
  frontend/src/app/shared/components/declarative-form/declarative-form.component.html
  frontend/src/app/shared/components/declarative-form/declarative-form.component.ts
  frontend/src/app/shared/models/declarative-form-config.type.ts
  frontend/src/app/shared/services/api/services.service.ts
  frontend/src/app/shared/services/api/storage.service.spec.ts
  frontend/src/app/shared/services/api/storage.service.ts
  frontend/src/app/shared/services/svc.service.spec.ts
  frontend/src/app/shared/services/svc.service.ts
Labels: enhancement, frontend, backend
