Repository ceph/bubbles, pull requests merged in 2021-11, with the labels that each got.

#90 frontend: crank up budgets significantly
  frontend/angular.json
Labels: enhancement, frontend

#91 deploy: obtain python packages from requirements
  deploy/build-container.sh
Labels: bug, tooling

#92 deploy: add 'run-registry' script
  deploy/run-registry.sh
Labels: tooling

#93 deploy: fix build-container script
  deploy/build-container.sh
Labels: tooling

#89 bubbles: add a dedicated CephController
  backend/api/ceph/fs.py
  backend/api/ceph/nfs.py
  backend/api/ceph/osd.py
  backend/controllers/ceph/__init__.py
  backend/controllers/ceph/ceph.py
  backend/controllers/ceph/fs.py
  backend/controllers/ceph/nfs.py
  backend/controllers/ctrls.py
  backend/controllers/services.py
Labels: cleanup, backend

#95 Frontend: Fix button colors when type is 'warning' or 'danger'
  frontend/src/app/shared/components/dialog/dialog.component.ts
Labels: bug, frontend

#96 Frontend: Update Angular and various other NPM packages
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, frontend

#94 Frontend: Update the echart widgets the correct way
  frontend/src/app/core/dashboard/widgets/performance-bytes-dashboard-widget/performance-bytes-dashboard-widget.component.html
  frontend/src/app/core/dashboard/widgets/performance-bytes-dashboard-widget/performance-bytes-dashboard-widget.component.ts
  frontend/src/app/core/dashboard/widgets/performance-operations-dashboard-widget/performance-operations-dashboard-widget.component.html
  frontend/src/app/core/dashboard/widgets/performance-operations-dashboard-widget/performance-operations-dashboard-widget.component.ts
  frontend/src/app/core/dashboard/widgets/services-utilization-dashboard-widget/services-utilization-dashboard-widget.component.html
  frontend/src/app/core/dashboard/widgets/services-utilization-dashboard-widget/services-utilization-dashboard-widget.component.ts
  frontend/src/app/core/dashboard/widgets/storage-utilization-dashboard-widget/storage-utilization-dashboard-widget.component.html
  frontend/src/app/core/dashboard/widgets/storage-utilization-dashboard-widget/storage-utilization-dashboard-widget.component.ts
Labels: frontend, cleanup

#99 Frontend: Fix unit test
  frontend/src/app/shared/components/datatable/datatable.component.spec.ts
Labels: bug, frontend

#97 Frontend: Rename datatable column property 'unsortable' to 'sortable'
  frontend/src/app/pages/users-page/users-page.component.ts
  frontend/src/app/shared/components/datatable/datatable.component.spec.ts
  frontend/src/app/shared/components/datatable/datatable.component.ts
  frontend/src/app/shared/models/datatable-column.type.ts
Labels: frontend, cleanup

#100 Frontend: Remove useless prop and fix default value
  frontend/src/app/pages/users-page/users-page.component.ts
  frontend/src/app/shared/components/datatable/datatable.component.ts
Labels: frontend, cleanup

#101 Frontend: Hide datatable column action button
  frontend/src/app/shared/components/datatable/datatable.component.html
Labels: enhancement, frontend

#102 Frontend: Add ability to disable a menu item in a datatable action column
  frontend/src/app/shared/components/datatable/datatable.component.html
  frontend/src/app/shared/models/datatable-action-item.type.ts
Labels: enhancement, frontend

#50 Simple extension mechanism
  extras/__init__.py
  extras/helloworld/__init__.py
  module.py
Labels: enhancement, backend

#103 Frontend: Add content page component
  frontend/src/app/pages/hosts-page/hosts-page.component.html
  frontend/src/app/pages/hosts-page/hosts-page.component.scss
  frontend/src/app/pages/hosts-page/hosts-page.component.ts
  frontend/src/app/pages/services-page/services-page.component.html
  frontend/src/app/pages/services-page/services-page.component.scss
  frontend/src/app/pages/services-page/services-page.component.ts
  frontend/src/app/pages/users-page/users-page.component.html
  frontend/src/app/pages/users-page/users-page.component.scss
  frontend/src/app/pages/users-page/users-page.component.ts
  frontend/src/app/shared/components/alert-panel/alert-panel.component.scss
  frontend/src/app/shared/components/components.module.ts
  frontend/src/app/shared/components/content-page/content-page.component.html
  frontend/src/app/shared/components/content-page/content-page.component.scss
  frontend/src/app/shared/components/content-page/content-page.component.spec.ts
  frontend/src/app/shared/components/content-page/content-page.component.ts
Labels: enhancement, frontend
